@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

nav a{
    color: #040305;
}




body{
    background-color: #171717
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    font-size: 25px;
}
 /* CARDS  */
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.container .card{
    display: flex;
    border-radius: 15px;
    background-color: rgb(140, 30, 243);
    align-items: center;
    height: 30rem;
}
.card img {
    margin: 5px;
    width: 16.5rem;
    height: 13rem;
    border-radius: 15px;
}
.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card-body a{
    margin-bottom: 0.5rem;
}



.sobre{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 5px;
}
.main-svg img{
    width: 30em;
    height: 30em;
}
.stack{
    margin-top: 1em;
}

.card{
    background-color: #040305;
}
.card-img-top{
    height: 15rem;
}


























/* BUTTON WHATSAPP */
#div-fixa{
    position: fixed;
    bottom: 20px;
    margin: 0 20px;
    background: rgb(37, 184, 37);
    width: 230px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s all;
}

#div-fixa.shrink{
    width: 50px;
    transition: 0.5s all;
    overflow: hidden;
    
}

#div-fixa img{
    width: 50px;
    height: 50px;
}

#div-fixa a .flex-itens{
    display: flex;
    align-items: center;
}

#div-fixa a .flex-itens span{
    display: block;
    font-weight: bold;
    color: #040305;
    margin-left: 5px;
    min-width: 170px;
    opacity: 0;
}
#div-fixa a .flex-itens span.aparecer {
    transition: 0.5s all;
    opacity: 1;
}

/* ANIMACAO BOTAO */

.flutuar {
    animation-name: flutuar;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes flutuar {
    from {
        transform: translate3d(0, 0, 0);
        filter: brightness(100%);
    }
    to {
        transform: translate3d(0, -15px, 0);
        filter: brightness(150%);
    }
}